.taskRow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eee;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
    .taskInfo{
        display: flex;
        align-items: center;
        .title{
            margin-right: 200px;
            font-size: 16px;
            // display: flex;
            // flex-wrap: wrap;
        }
        .deadline{
            font-size: 12px;
        }
    }
    .button{
        width: 100px;
        border: transparent;
        height: 25px;
        border-radius: 5px;
        font-weight: 500;
        font-size: 14px;
        color: #fff;
    }
    .remove{
        background-color: red;
    }
}